codecov
fiona==1.9.4
flask
folium
geopandas
geocoder
geojson
matplotlib
numpy
openpyxl
osmnx
pandas # pinned
pyproj
pytest
pyyaml
pytest-cov
rtree
ruamel.yaml==0.17.33
seaborn
scikit-learn
shapely
tzlocal
xlrd
xgboost
tox
jsonschema