codecov
fiona
flask
folium
geopandas
geocoder
geojson
ipdb
ipython
jupyter
matplotlib
numpy
openpyxl
osmnx
pandas # pinned
pylint
pyproj
pytest
pyyaml
pytest-cov
rtree
ruamel.yaml
seaborn
scikit-learn
shapely
tzlocal
xlrd
xgboost
tox